<html>
<head></head>
<body>
  <script>
      document.cookie = 'accountId=' + '<%= @session_user_id %>';
      window.opener.Ember.SimpleAuth.externalLoginSucceeded({ access_token: "<%= @session_token %>" });
//window.opener.Ember.PrimaApp.ApplicationController.set('currentUser',2);
 //   @session_user_id

//alert(window.opener.PrimaApp.ApplicationController.get('currentUser'));

    window.close();
  </script>
</body>
</html>

