<footer id="colophon" class="site-footer container_12">
	<div id="site-info" class="grid_12"><div class="margins"> Todos los derechos reservados - <a href="http://www.Krowdly.com/">Krowdly</a></div></div>
</footer>