   <script type="text/javascript">
		
        $("div:jqmData(role='page'):last").bind('pageinit', function() {
			$( "#home_b" ).on( "click", function( event ) {
			window.location.href = "http://www.krowdly.com";
	        });
        });




    </script>


	<%= link_to 'Inicio', "#", "data-role"=>"button", "data-mini"=>"true", "data-inline"=>"true", "data-icon"=>"home", "data-iconpos"=>"right", "id"=>"home_b" %>
  
  <% if current_user && signed_in? %>
    <a href="#right-panel" data-role="button" data-mini="true" data-inline="true" data-icon="grid" data-iconpos="right">Opciones</a>

  <% else %>

    <a href="/auth/facebook" data-role="button" data-ajax="false" data-mini="true" data-inline="true" data-icon="grid" data-iconpos="right">Ingresar</a>

  <% end %>



