<!-- Header -->
<header id="branding" class="site-header" role="banner">
	<div class="container_12">
		<!-- Site title and description -->
		<div class="fleft grid_4 branding">

			<ul class="share-items" style="float:left;">
				<li style="width:40px" class="menu-option"><a id="menu-button" style="width:40px"  target="_blank" title="Twitter" href="#nav"><i class="icon-th-list"></i></a></li>

			</ul>
			<h1 style="display:inline" id="site-title">				<%= link_to raw("<i class=icon-fire></i> Krowd<span>LY</span></a></h1>"), list_path, "target"=>"_parent", "rel"=>"home", "title"=>"Krowdly" %></h1>
			<ul class="share-items" style="float:right;">

				<li style="width:40px" class="search-option"><a id="search-button" style="width:40px" target="_blank" title="Google +" href="#"><i class="icon-search"></i></a></li>
			</ul>

						
		</div>

<% if !(current_user && signed_in?) %>
    <div class="grid_8 socialnetworking">
      <ul class="share-items" id="login-facebook">
        <li class="share-item-icon-facebook"><a target="_parent" title="Ingresa con Facebook" href="/auth/facebook">INGRESA  <i class="icon-facebook"></i></a></li>

      </ul>


      
    </div>

  <%end %>

 <%= render 'shared/search' %>




		<div class="clear"></div>
	</div>
</header>