
<%= avatar_for(current_user,80,80) %>
<div >
<%= form_for @post do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <%= f.text_area :content, placeholder: "Comentar", "id"=>"s_comment", "class"=>"comment-box" %>
<% end %>
 <p><a id="butt" target="_parent" href="#">Comentar</a></p>
 </div>

                                
