<!-- Search and Share icons -->
<div style="display:none" id="search-bar" class="grid_8 socialnetworking">
	<ul id="search-ul" class="share-items">
		<li id="search-li" class="share-item-icon-search">
			<a id="search-link" target="_blank" title="Search"><i class="icon-search"></i></a>
			<!-- Search Form -->
			<div class="header-search-form">
				<form method="get" id="header-searchform" action="/vote">
					<div>
						<input class="radius" type="text" name="search" id="s" value="Buscar lugar" onfocus="if(this.value==this.defaultValue)this.value='';" onblur="if(this.value=='')this.value=this.defaultValue;"/>

					</div>
				</form>
			</div>
		</li>
	</ul>
</div>