<% provide(:title, 'Inicio') %>
<% provide(:page, "index_venue") %>





  <div id="progress-back" class="load-item">
    <div id="progress-bar"></div>
  </div>
  <div id="page">
    <div id="header-bg"></div>
    <div id="patern"></div>
    <div id="page-view">
      
<header id="branding" class="site-header" role="banner">
  <div class="container_12">
    <!-- Site title and description -->
    <div class="fleft grid_4 branding">
      <h1 id="site-title">
        <%= link_to raw("<i class=icon-fire></i> Krowd<span>LY</span></a></h1>"), list_path, "target"=>"_parent", "rel"=>"home", "title"=>"Krowdly" %>
        </h1>
      <h2 id="site-description">Descubre dónde ir</h2>
      <div style="background:#FFBA00; height:4px; margin-bottom:20px;"></div>
    </div>


  <% if !(current_user && signed_in?) %>
    <div class="grid_8 socialnetworking">
      <ul class="share-items" id="login-facebook">
        <li class="share-item-icon-facebook"><a target="_parent" title="Ingresa con Facebook" href="/auth/facebook">INGRESA  <i class="icon-facebook"></i></a></li>

      </ul>


      
    </div>

  <%else %>
<div style="text-align:Center; ">
  <%= link_to 'Ranking en llamas ahora ', list_path, "target"=>"_parent", "id"=>"skip", "style"=>"background:#1C1D21; padding:20px;" %>
</div>
  <% end %>


    <div class="clear"></div>
  </div>
</header>


      <!-- Teaser Text -->
      <div class="container_12 teaser">

        <div id="slidecaption" class="grid_12"></div>

        <div class="grid_12 margin-battom slider-arrow" style="text-align:center">
          <a id="prevslide" class="load-item"></a>
          <a id="nextslide" class="load-item"></a>
          <div class="clear"></div>
        </div>
        <div class="celar"></div>
      </div>


<div style="text-align:center;">
<%= link_to image_tag("android_badge1.png", :border=>0), 
'/resource/krowdly.apk'%>
</div>


              <%= render 'shared/footer' %>
    </div>
  </div>