<% provide(:title, 'Inicio') %>
<% provide(:page, "index_venue") %>





<div id="progress-back" class="load-item">
<div id="progress-bar"></div>
</div>
<div id="page">
<div id="header-bg"></div>
<div id="patern"></div>
<div id="page-view">

<!-- Header -->
<header id="branding" class="site-header" role="banner">
<div class="container_12">
<!-- Site title and description -->
<div class="fleft grid_4 branding">
<h1 id="site-title">
<%= link_to raw("<i class=icon-fire></i> Krowd<span>LY</span></a></h1>"), list_path, "target"=>"_parent", "rel"=>"home", "title"=>"Krowdly" %>
</h1>
<h2 id="site-description">Descubre dónde ir!</h2>
</div>


<div class="clear"></div>
</div>
</header>

<!-- Main Menu -->


<!-- Teaser Text -->
<div class="container_12 teaser">

<div id="slidecaption" class="grid_12"></div>

<div class="celar"></div>
</div>

<!-- Main -->
<div id="main" class="site-main container_12">

<!-- Left column -->
<div id="primary" class="grid_8">
<!-- Widget video -->





</div>

<!-- Right Column / Widget area -->
<div id="secondary" class="grid_4 widget-area" role="complementary">



<!-- Right Column / Widget area -->
<!-- Right Column / Widget area -->
</div>

<div class="clear"></div>
</div>

<!-- Footer Widget area -->
<footer id="colophon" class="site-footer container_12">
<!-- Status info -->
<div id="status-info" class="grid_12 no-p-b">

<div class="status-title">
<h1>Krowdly:</h1>
</div>


<div id="slider-status" class="flexslider">
<ul class="slides">
<li><a href="#">Siente el ritmo de la ciudad!</a></li>
<li><a href="#">SIempre hay alguien que sabe donde esta el mejor lugar</a></li>
<li><a href="#">Nos unimos para compartir las mejores experiencias</a></li>
</ul>
</div>

<div class="clear"></div>

<!-- First Widget area -->
<div class="grid_4 alpha no-m-b">
<!-- Widget text -->
<aside id="widget-text-7" class="WPlooktext">
<div class="entry-header">
<h1 class="entry-title">¿Qué es?</h1>
<div class="clear"></div>
</div>

<div class="entry-content">
<div class="margins">Krowdly te permite descubrir los lugares más prendidos de la ciudad en tiempo real con ayuda de tu teléfono móvil</div>
</div>
</aside>
</div>

<!-- Second Widget area -->
<div class="grid_4 no-m-b">
<!-- Widget TagCloud -->
<aside id="widget-text-7" class="WPlooktext">
<div class="entry-header">
<h1 class="entry-title">¿Cómo Funciona?</h1>
<div class="clear"></div>
</div>

<div class="entry-content">
<div class="margins">Los Krowdlers votan en tiempo real en que lugares lo están pasando mejor y a que lugares no recomiendan ir</div>
</div>
</aside>
</div>

<!-- Third Widget area -->
<div class="grid_4 omega no-m-b">
<!-- Widget Archive -->
<aside id="widget-text-7" class="WPlooktext">
<div class="entry-header">
<h1 class="entry-title">¿Cómo lo uso?</h1>
<div class="clear"></div>
</div>

<div class="entry-content">
<div class="margins">Desde tu télefono móvil, ingresa a krowdly.com, conviertete en un Krowdler y cuentanos a todos dónde hay que ir!</div>
</div>
</aside>
</div>

</div>
                <%= render 'shared/footer' %>

</footer>


</div>
</div>

