<% provide(:title, 'Lugares') %>
<% provide(:page, "index_venue") %>





  <div id="progress-back" class="load-item">
    <div id="progress-bar"></div>
  </div>
  <div id="page">
    <div id="header-bg"></div>
    <div id="patern"></div>
    <div id="page-view">
      
<header id="branding" class="site-header" role="banner">
  <div class="container_12">
    <!-- Site title and description -->
    <div class="fleft grid_4 branding">
      <h1 id="site-title">
        <%= link_to raw("<i class=icon-fire></i> Krowd<span>LY</span></a></h1>"), list_path, "target"=>"_parent", "rel"=>"home", "title"=>"Krowdly" %>
        </h1>
      <h2 id="site-description">Siente el ritmo de la ciudad</h2>
    </div>


  <% if !(current_user && signed_in?) %>
    <div class="grid_8 socialnetworking">
      <ul class="share-items">
        <li class="share-item-icon-facebook"><a target="_parent" title="Ingresa con Facebook" href="/auth/facebook">INGRESA  <i class="icon-facebook"></i></a></li>

      </ul>


      <%= # link_to 'Saltar', list_path, "target"=>"_parent", "id"=>"skip" %>
    </div>

  <%else %>

  <%= link_to 'En llamas ahora', list_path, "target"=>"_parent", "id"=>"skip" %>
  <% end %>


    <div class="clear"></div>
  </div>
</header>


      <!-- Teaser Text -->
      <div class="container_12 teaser">

        <div id="slidecaption" class="grid_12"></div>

        <div class="grid_12 margin-battom slider-arrow">
          <a id="prevslide" class="load-item"></a>
          <a id="nextslide" class="load-item"></a>
          <div class="clear"></div>
        </div>
        <div class="celar"></div>
      </div>

              <%= render 'shared/footer' %>
    </div>
  </div>

