@import "bootstrap";

.button-title {

text-align:right;

}

.button-title .button-title-inside {

width:120px;
color: #ffffff;

}

.socialnetworking{

margin-top:20px;


}

.share-items .share-item-icon-search li a {

    background: none repeat scroll 0 0 #1C1D21;
    display: inline-block;
    height: 40px;
    text-align: center;
    width: 40px;

}

.share-items .share-item-icon-search li a {

    background: none repeat scroll 0 0 #1C1D21;
    display: inline-block;
    height: 40px;
    text-align: center;
    width: 40px;

}

#search-li{

  width:40px;
}

#search-link{

  width:40px;
}

#search-ul{

  margin: 0px;
}

.dark-box{

    background: none repeat scroll 0 0 #1C1D21;
    color: #FFFFFF;
    margin-right: 20px;
    text-align: right;

}

input.my-button {

height:35px;
background-color:#FF9900;
color:#ffffff;
text-transform:uppercase;
border:0;
float:right;
}

.comment-box{
width:68%;
 height:4em;
float:right;
margin-top:-1.5em;

}

.comment-box{
color: #66CDAA;

}


#butt {
  display: block;
  width: 6em;  
  padding: 0.2em;
  line-height: 1.4;
  border: 0;
  text-decoration: none;
  text-align: center;
  float:right;
  margin-top:0.5em;
}


#score{

   color: #888888;
  margin-bottom:5px;


}

.map{

color: #FF9900;
font-size: 14px;
text-align:right;
vertical-align: top;

}

.button-custom:hover{
 background-color: #FFBA00;
 color: #ffffff;

}

.button-custom{
  display: block;
  width: 9em;  
  padding: 0.2em;
  line-height: 1.4;
  background: #FFBA00;
  border: 0;
  color: #ffffff;
  text-decoration: none;
  text-align: center;

  margin-top:0.5em;
font-weight: bold;
}

#vote_up{
margin-right:10px;
  color: #ffffff;
    float:left;
}

#vote_down{
  color: #ffffff;

    float:right;
}

#data-venue{
background: none repeat scroll 0 0 #333333;

}

#data-vote{

  margin-bottom:0.2em;
  
}


.pagination{


}

.pagination ul{
text-align: center;
margin:0;
}

.pagination li{
display: inline-block;

}

.content-edit form{

  float:left;
}



.form-label{

  color: #888888;
}

.text-field-form{

  width:100%;
  height:30px;
}

#send-button{

  float:right;
}

#place-label{

  margin-top:10px;
}

.geo {
cursor:pointer; color: #FF9900; text-decoration:underline;  

}

#skip{
text-align:right;
clear:both;
float:right;
font-size: 0.9em;
}




@mixin box_sizing {
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;
}


input, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  @include box_sizing;
}

.btn-sample {
  color: #FFFFFF;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #888888;
  *background-color: #888888;
  background-image: -moz-linear-gradient(top, #888888, #888888);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#888888), to(#888888));
  background-image: -webkit-linear-gradient(top, #888888, #888888);
  background-image: -o-linear-gradient(top, #888888, #888888);
  background-image: linear-gradient(to bottom, #888888, #888888);
  background-repeat: repeat-x;
  border-color: #888888;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#888888', endColorstr='#888888', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
.btn-sample:hover,
.btn-sample:active,
.btn-sample.active,
.btn-sample.disabled,
.btn-sample[disabled] {
  color: #FFFFFF;
  background-color: #888888;
  *background-color: #003bb3;
}

.comment-item h2, h3 {

line-height: 20px;
}

#s_comment{

  margin-top:0;
}

.info-venue td{

padding: 0 0 0 20px;
}

.entry-title{

  line-height:30px;
}

.entry-description{
  line-height:25px;

}

.entry-votes{
  line-height:25px;

}

